
:root {
    --bg: #84E296;
    --box_bg: #006600;
    --accent: #20ceb4;
    --text: #00ff00;
}

* {
    box-sizing: border-box;
}

/* box-sizing: border-box = padding og border tælles med i elementets bredde/højde */

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--text);
}

nav {
    width: 100%;
    height: 7%;
    background-color: var(--box_bg);
    padding: 2em;
    margin: 0;
    border: 0;
    position: sticky;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(8px);
    display: grid;
    grid-template-columns: 45% auto auto;
}


footer {
    width: 100%;
    height: 7%;
    background-color: var(--box_bg);
    padding: 1em 2em 1em 2em;
    margin: 0;
    border: 0;
}

table, th, td {
    background-color: var(--box_bg);
    border: 1px solid var(--accent);
    border-collapse: collapse;
    padding: 5px;
}

th {
    text-align: left;
}

a {
    color: var(--accent);
}

.imageBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textBox {
    background-color: var(--box_bg);
    padding: 1em;
    margin: 2vh 4vw 2vh 4vw;
    border: 0;
    border-radius: 5px;
}

#TitleName {
    margin: 0 0 0 0;
    padding: 0;
    border: 0;
}

.linkToButton:hover, button:hover{
    background-color: #ff00ff;
    font-size: 20px;
}

.linkToButton, button {
    font-family: "Times New Roman";
    text-decoration: none;
    appearance: auto;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-variant-emoji: ;
    font-weight: ;
    font-stretch: ;
    font-size: 15px ;
    font-family: ;
    font-optical-sizing: ;
    font-size-adjust: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em 0em 0em 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
}

form {
    display: inline-grid;
}



