<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>registrer attraktion</title>
    <link th:href="@{/style.css}" rel="styleSheet"/>
</head>
<body>
<h1 class="textBox">Attraktion registrerings formular</h1>

<form class="textBox" action="#" th:action="@{/attractions/save}" th:object="${touristAttraction}" method="post">
    <label>Attraktionens navn</label>
    <br>
    <input type="text" th:field="${touristAttraction.name}">
    <br>
    <label>Beskrivelse</label>
    <br>
    <input type="text" th:field="*{description}">
    <br>
    <label>Lokation</label>

    <select th:field="*{city}">
        <option value="">-- vælg by --</option>
        <option th:each="by : ${cities}"
                th:value="${by}"
                th:text="${by}">
        </option>
    </select>
    <br>
    <label>Tags</label>
    <div th:each="value : ${tags}">
        <input type="checkbox" th:field="*{tags}" th:value="${value}" th:text="${value}"/>
    </div>
    <br><br>
    <button type="submit">Register</button>
    <a class="linkToButton" th:href="@{/attractions}" >Tilbage</a>
</form>
</body>
</html>