<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
<nav>
    <p id="TitleName">ForlystelsesGuiden</p><a href="/attractions">Forlystelses parker</a> <a href="/attractions/tivoli">Tivoli</a>
</nav>
<h1>Registered attractions</h1>
<table>
    <tr th:if="${attractions.isEmpty()}">There are no attractions registered yet</tr>
    <tr th:if="${!attractions.isEmpty()}">
        <th>Name</th>
        <th>Description</th>
    </tr>
    <tr th:each="attraction: ${attractions}">
        <td th:text="${attraction.name}"></td>
        <td th:text="${attraction.description}"></td>
        <td>
            <a th:href="@{/attractions/{name}/edit (name=${attraction.name})}"> Edit </a>
        </td>
        <td>
            <form action="#" th:action="@{/attractions/delete/{name} (name=${attraction.name})}"
                  th:object="${attraction}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>

<a th:href="@{/attractions/add}">add a new attraction</a>
<footer>
    <p>Kontakt oplysninger <br>Teknisk hjælp : <a href="mailto:ForlystelsesGuiden@teknikker.dk">ForlystelsesGuiden@teknikker.dk</a><br>
        Lokal guide : <a href="mailto:ForlystelsesGuiden@guide.dk">ForlystelsesGuiden@guide.dk</a>
    </p>
</footer>
</body>
</html>